body {
  background: linear-gradient(to left top, white, whitesmoke) fixed;
}

.top10 {
    margin-top: 10px;
}

.top120 {
    margin-top: 120px;
}

.top80 {
  margin-top: 80px;
}

.top200 {
  margin-top: 200px;
}

.top300 {
  margin-top: 300px;
}

#gameIcon {
  
}

#profile {
 
}

#CourseLoaderIcon {
  width: 186px;
  height: 128px;
}